github "PureSwift/SwiftFoundation" "develop"
github "ColemanCDA/NetworkObjects" "develop"
github "ColemanCDA/NetworkObjectsUI" "develop"
github "ColemanCDA/RoutingHTTPServer" "develop"
github "PureSwift/OpenSSL" "master"